html {
	background: black;
}

#mainContainer {
	width: 700px;
	height: 420px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

#leftColumn {
	display: flex;
	flex-direction: column;
}

#rightColumn {
	display: flex;
	flex-direction: column;
}

#game {
	height: 420px;
	width: 420px;
	background-color: #1f2a5c;
	background: radial-gradient(#3749a3, #1f2a5c);
	border-radius: 10px;
	display: flex;
	flex-direction: row;
}

.column {
	width: 140px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.cell {
	width: 100%;
	height: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 130px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	color: white;
}

#a2, #b2, #c2 {
	border-left: 3px solid #475ec9;
	border-right: 3px solid #475ec9;
}

#b1, #b2, #b3 {
	border-top: 3px solid #475ec9;
	border-bottom: 3px solid #475ec9;
}

.computerMarker {
	text-shadow: 3px 3px 12px #29e4ff,
								-3px -3px 12px #29e4ff,
								3px -3px 12px #29e4ff,
								-3px 3px 12px #29e4ff;
}

.playerMarker {
	text-shadow: 3px 3px 12px #ff005a,
								-3px -3px 12px #ff005a,
								3px -3px 12px #ff005a,
								-3px 3px 12px #ff005a;
}


p {
	height: 200px;
	width: 100px;
	margin-top: 50px;
	color: #c5c4c4;
	text-align: center;
	font-size: 16px;
}

button {
	width: 80px;
	height: 60px;
	font-size: 16px;
	color: #c5c4c4;
	background: radial-gradient(#3749a3, #1f2a5c);
	border-radius: 5px;
	border: none;
	outline: none;
}

button:hover {
	box-shadow: 3px 3px 7px #3749a3,
								-3px -3px 7px #3749a3,
								3px -3px 7px #3749a3,
								-3px 3px 7px #3749a3;
}

#restartButton {	
	margin-top: 50px;
}
