div {
	width: 800px;
	height: 400px;
	margin: auto;
	/*border: 1px solid black;*/
}

table {
	height: 400px;
	width: 400px;
	margin: auto;
	background-color: blue;
	background: radial-gradient(#3749a3, #1f2a5c);
	border-radius: 10px;
	border-collapse: separate;
	border-spacing: 0px;
}

td {
	width: 30%;
	height: 30%;
	text-align: center;
	font-size: 95px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	color: white;
}

#a2, #b2, #c2 {
	border-left: 3px solid #475ec9;
	border-right: 3px solid #475ec9;
}

#b1, #b2, #b3 {
	border-top: 3px solid #475ec9;
	border-bottom: 3px solid #475ec9;
}

.computerMarker {
	text-shadow: 3px 3px 7px #29e4ff,
								-3px -3px 7px #29e4ff,
								3px -3px 7px #29e4ff,
								-3px 3px 7px #29e4ff;
}

.playerMarker {
	text-shadow: 3px 3px 7px #ff005a,
								-3px -3px 7px #ff005a,
								3px -3px 7px #ff005a,
								-3px 3px 7px #ff005a;
}


p {
	height: 200px;
	width: 100px;
}

#restartButton {
	width: 60px;
	height: 30px;
	float: right;
}