table {
	border: 1px solid gray;
	height: 200px;
	width: 200px;
	float: left;
}

td {
	width: 30%;
	height: 30%;
	border: 1px solid black;
	text-align: center;
}

p {
	float: left;
	border: 1px solid gray;
	height: 200px;
	width: 100px;
	margin-left: 20px;
	padding: 5px;
}

#restartButton {
	margin-left: 20px;
}